<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Weekly discussion podcast on all things web development. Topics range from daily developer life, PHP, frameworks, testing, good software design and our experiences using many other programming languages.">

    <title>{% if page.title == "Home" %}Three Devs and a Maybe: Discussion on Web Development{% else %}{{ page.title }} - Three Devs and a Maybe{% endif %}</title>

    <link rel="stylesheet" href="/styles.css">
    <link rel="alternate" href="/podcast.xml" title="Three Devs and a Maybe: Podcast Feed" type="application/rss+xml" />
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script>
        var _gaq=[['_setAccount','UA-32512081-2'],['_trackPageview']];
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
