<a href="/"><h1>Three Devs and a Maybe</h1></a>
<p id="description">Weekly discussion podcast on all things web development. Topics range from daily developer life, PHP, frameworks, testing, good software design and our experiences using many other programming languages.</p>
<div id="profiles">
    <div class="profile">
        <img src="/images/avatar-mick.jpg">
        <div class="details">
            <h3>Michael Budd</h3>
            <span><a href="//twitter.com/michaelbud6" target="_blank">@michaelbud6</a></span>
            <p>Professional Web Developer, currently studying a MsC in Advanced Computer Science.</p>
        </div>
    </div>
    <div class="profile">
        <img src="/images/avatar-fraser.jpg">
        <div class="details">
            <h3>Fraser Hart</h3>
            <span><a href="//twitter.com/FraserHartDev" target="_blank">@FraserHartDev</a></span>
            <p>Web Developer. Rowing across the Pacific in June.</p>
        </div>
    </div>
    <div class="profile">
        <img src="/images/avatar-lewis.jpg">
        <div class="details">
            <h3>Lewis Cains</h3>
            <span><a href="//twitter.com/LCainsWebDev" target="_blank">@LCainsWebDev</a></span>
            <p>Ex professional golfer, now full time web developer.</p>
        </div>
    </div>
    <div class="profile">
        <img src="/images/avatar-edd.jpg">
        <div class="details">
            <h3>Edd Mann</h3>
            <span><a href="//twitter.com/edd_mann" target="_blank">@edd_mann</a></span>
            <p>Software Developer, NBA junkie, Podcast addict</p>
        </div>
    </div>
    <div class="clr"></div>
</div>
