html {
    overflow-y: scroll;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: url('/images/bg.jpg') repeat-y;
}

a {
    text-decoration: none;
    color: #404040;

    &:hover {
        color: #29bdca;
    }
}

#container {
    width: 1150px;
}

#side {
    float: left;
    width: 347px;
    color: #FFF;
    background: url('/images/logo.jpg') no-repeat;

    h1 {
        width: 347px;
        height: 200px;
        text-indent: -9999px;
    }

    p#description {
        text-align: center;
        font-weight: 300;
        line-height: 1.5em;
        padding: 0 35px;
    }

    #profiles {
        margin-top: 10px;
        padding-bottom: 50px;

        .profile {
            width: 300px;
            margin: 30px 0 0 40px;
            clear: both;
            float: left;

            img {
                padding: 5px;
                background-color: #FFF;
                float: left;
            }

            .details {
                float: left;
                margin: 5px 0 0 15px;

                span a {
                    background: url('/images/social-twitter-2.png') no-repeat 0 3px;
                    margin-top: 4px;
                    padding-left: 20px;
                    display: block;
                    font-style: italic;
                    font-weight: 300;
                    color: #FFF;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                p {
                    width: 170px;
                    margin-top: 4px;
                    color: #ABABAB;
                    font-style: italic;
                }
            }
        }
    }
}

#main {
    float: left;
    padding: 30px 50px;

    .pagination {
        display: block;
        float: left;
        padding: 20px;
        font-size: 1.5em;
    }

    #posts {
        width: 700px;

        .post {
            clear: both;
            padding: 30px 0;
            border-bottom: 1px solid #e8e8e8;

            .number {
                color: #8c8c8d;
                float: left;
                font-size: 2em;
                font-weight: 300;
            }

            .details {
                margin-left: 20px;
                float: left;
                width: 490px;
            }

            h2 {
                color: #323333;
                font-size: 1.2em;
            }

            p {
                margin-top: 5px;
                color: #8c8c8d;
                font-style: italic;
                font-weight: 300
            }

            .release {
                margin-left: 30px;
                float: right;
                width: 100px;
                text-align: right;
            }

            time {
                color: #323333;
                font-style: italic;
                font-size: 1.2em;
                font-weight: 300;
            }

            .download {
                margin-top: 40px;
                background: url('/images/headphones.png') no-repeat;
                height: 20px;
                text-align: right;
            }

            .audio-player {
                margin-top: 15px;
            }

            &:first-child { padding-top: 20px; }

            &:last-child { border-bottom: 0; }
        }
    }
}

ul.social {
    margin-top: 20px;
    list-style: none;

    li {
        width: 25px;
        display: inline;
        padding: 0;
        float: left;
        margin: 0 5px 0 0;
    }
}

article {
    width: 700px;

    h2 { font-size: 2em; }

    h3 { font-size: 1.6em; }

    .details {
        float: right;
        display: block;
        text-align: right;
        width: 700px;
        padding: 5px 0 15px 0;
        border-bottom: 1px solid #e8e8e8;

        ul.social {
            float: right;
            margin: 0;
        }

        .download {
            background: url('/images/headphones.png') no-repeat;
            float: right;
            height: 20px;
            padding-left: 30px;
            margin-right: 20px;
        }

        time {
            margin-left: 20px;
            float: right;
            color: #323333;
            font-style: italic;
            font-size: 1.2em;
            font-weight: 300;
        }
    }

    p {
        margin: 20px 0;
        line-height: 1.8em;
    }

    h2, h3, h4, h5, h6 {
        line-height: 1.4em;
        margin-bottom: 15px;
    }

    pre + h3 {
        margin-top: 35px;
    }

    ul, ol {
        margin: 0 0 30px 40px;
        line-height: 1.8em;
    }

    pre {
        margin-bottom: 20px;
        overflow: hidden;
    }

    figure {
        display: block;
        margin-bottom: 20px;
        text-align: center;

        img.shadow {
            -moz-box-shadow: 0 0 10px #888;
            -webkit-box-shadow: 0 0 10px #888;
            box-shadow: 0 0 10px #888;
        }
    }

    figcaption {
        padding: 10px 0;
        margin-bottom: 15px;
        border-bottom: 1px dotted #CCC;
        display: block;
        text-align: center;
        font-style: italic;
    }
}

.whoops {
    h2 {
        font-size: 2em;
        line-height: 1.8em;
    }
}

.icon {
    float: left;
    height: 48px;
    font-size: 1.5em;
    padding: 10px 0 0 65px;
    margin: 20px 30px 30px 0;

    &.rss { background: url('/images/rss.png') no-repeat 0 0; }
    &.itunes { background: url('/images/itunes.png') no-repeat 0 0; }
    &.contact { background: url('/images/contact.png') no-repeat 0 5px; }
}

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: inline;
        border: 1px solid #e8e8e8;
        border-bottom: 0;
        margin: 0 10px 0 0;
        padding: 10px 20px;
        font-size: 1.5em;
    }

    .selected {
        padding-bottom: 11px;
        background: white;
    }

    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
}
